4_DesignTool_Software/2_KiCAD_Files/
4_DesignTool_Software/3_FabricationTool_App/src/__pycache__/
4_DesignTool_Software/3_FabricationTool_App/src/controllers/__pycache__/
4_DesignTool_Software/3_FabricationTool_App/src/views/__pycache__/
4_DesignTool_Software/.venv/
4_DesignTool_Software/3_FabricationTool_App/src/ui/__pycache__/
4_DesignTool_Software/3_FabricationTool_App/outputs/
4_DesignTool_Software/1_KiCadenerator/kicad-coil-plugins-main/
4_DesignTool_Software/3_FabricationTool_App/meshes/StandingCat.stl
4_DesignTool_Software/venv/
1_Firmware/ETactileKit/.vscode/
5_APIs/1_Python_API/__pycache__/communication.cpython-312.pyc
6_Unity_API/.vscode/
*.meta
6_Unity_API/Library/
6_Unity_API/Logs/
6_Unity_API/ProjectSettings/
6_Unity_API/Temp/
6_Unity_API/UserSettings/
6_Unity_API/Assets/UniversalRenderPipelineGlobalSettings.asset
6_Unity_API/6_Unity_API.sln
6_Unity_API/Assembly-CSharp.csproj
6_Unity_API/Assets/DefaultVolumeProfile.asset
6_Unity_API/Assets/InputSystem_Actions.inputactions
6_Unity_API/Assets/Scenes/SampleScene.unity
6_Unity_API/Assets/Settings/Lit2DSceneTemplate.scenetemplate
6_Unity_API/Assets/Settings/Renderer2D.asset
6_Unity_API/Assets/Settings/UniversalRP.asset
6_Unity_API/Assets/Settings/Scenes/URP2DSceneTemplate.unity
6_Unity_API/Packages/manifest.json
6_Unity_API/Packages/packages-lock.json
5_APIs/1_Python_API/__pycache__/
.DS_Store
/4_DesignTool_Software/3_FabricationTool_App/src/utils/__pycache__
5_APIs/1_Python_API/api/__pycache__/
