4_DesignTool_Software/2_KiCAD_Files/
4_DesignTool_Software/3_FabricationTool_App/src/__pycache__/
4_DesignTool_Software/3_FabricationTool_App/src/controllers/__pycache__/
4_DesignTool_Software/3_FabricationTool_App/src/views/__pycache__/
4_DesignTool_Software/.venv/
4_DesignTool_Software/3_FabricationTool_App/src/ui/__pycache__/
4_DesignTool_Software/3_FabricationTool_App/outputs/
4_DesignTool_Software/1_KiCadenerator/kicad-coil-plugins-main/
4_DesignTool_Software/3_FabricationTool_App/meshes/StandingCat.stl
4_DesignTool_Software/venv/
1_Firmware/ETactileKit/.vscode/
5_APIs/1_Python_API/__pycache__/communication.cpython-312.pyc
5_APIs/1_Python_API/__pycache__/
.DS_Store
/4_DesignTool_Software/3_FabricationTool_App/src/utils/__pycache__
5_APIs/1_Python_API/api/__pycache__/
6_APIs/1_Python_API/__pycache__/
6_APIs/1_Python_API/api/__pycache__/
