altgraph
certifi
charset-normalizer
contourpy
cycler
fonttools
idna
joblib
kiwisolver
matplotlib
numpy
opencv-python
packaging
pandas
pefile
pillow
platformdirs
pooch
pyinstaller
pyinstaller-hooks-contrib
pymesh
pyparsing
PyQt5
PyQt5-Qt5
PyQt5_sip
python-dateutil
pytz
pyvista
pyvistaqt
pywin32-ctypes
QtPy
requests
scikit-learn
scipy
scooby
setuptools
shapely
shiboken6
six
threadpoolctl
trimesh
typing_extensions
tzdata
urllib3
vtk
pymeshfix
pyacvd


